.card__edit {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .25s ease-in;
}

.card:hover .card__edit{
    opacity: 1;
}

.card__edit a{
    text-decoration: none;
    color: #999;
    font-size: 17px;
}